.header{
    position: fixed;
    z-index: 99999;
    width: 100%;
}
.content{
    width: 100%;
    padding-top: 107px;
}
/* .banner > .image-gallery > .image-gallery-content{
    height: 344px;
} */

/* .banner > .image-gallery >.image-gallery-content >.image-gallery-swipe{
    height: 100%;
    position: relative;
} */
.page{
    background-color: #f5f5f5;
    padding: 0px 50px;

}
.page-content{
    overflow: auto;
}