.header{
    position: fixed;
    z-index: 99999;
    width: 100%;
}
.content{
    width: 100%;
    padding-top: 107px;
}
.content{
    background-color: #f5f5f5;
}
.page{
    background-color: #f5f5f5;
    margin: 0px auto;
    width: 1188px;
}
